n.body{
  background-image: image-url("syasenn.jpg");
  background-size: cover;
  font-family: "游ゴシック", "YuGothic";
  
  .header{
    font-size: 30px;
    padding: 50px;
    
  }
  a{
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
  color: black;
  }
  
  a:hover {
  color:#FF0099;
  text-decoration:underline;
  }
  
  a:active {
  color:#33CC00;
  }
}

