.contents{
  text-align: center;
  margin: auto;
}
  .contents_1{
  text-align: center;
  font-size: 35px;
  padding: 0.5em 1em;
  margin: 1em 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  }

  
.con{
  text-align: center;
}
.container{
  font-size: 20px;
}
.name{
  font-size: 20px;
}
.more{
  font-size: 30px;
  text-align: center;
  }

.content_post{
  height: 800px;
  width: 600px;
} 

.more_1{
  width: 100%;
	word-break: break-all;
	word-wrap: break-all;
  display: flex;
  margin: auto;
  width: 900px;
  height: 500px;
  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.category{
  font-size: 30px;
  text-align: center;
  height: 550px;
  width: 100%;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #00BCD4;
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.tou{
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: 35px;
  padding: 0.5em 1em;
  margin: 1em 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  list-style: none;
}

li {
  list-style: none;
}

.img {
  margin: auto;
  width: 400px;
  height: 600px;
  background-size:cover;
  }

  .container{
  margin: auto;
  width: 900px;
  height: 100%;
  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

  .comments{
  margin: auto;
  width: 100%;
	word-break: break-all;
	word-wrap: break-all;
  }

  .more_2{
  width: 100%;
	word-break: break-all;
	word-wrap: break-all;
  display: flex;
  margin: auto;
  width: 900px;
  height: 500px;
  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

  .search-form {
    text-align: center;
    padding-top: 32px;
    .search-input {
      width: 20%;
      margin-right: 10px;
    }
  
    .search-btn {
      width: 10%;
    }
  }

  form {
    h3 {
      text-align: center;
      font-weight: normal;
      font-size: 20px;

    }
    input,textarea {
      width: 10%;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    input[type="submit"] {
      border-radius: 20px;
      color: black;
      border: 0;
      font-size: 18px;
    }
  }

